services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    env_file:
      - .env
    networks:
      - appnet

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        - FIREBASE_API_KEY=${FIREBASE_API_KEY}
        - FIREBASE_AUTH_DOMAIN=${FIREBASE_AUTH_DOMAIN}
        - FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}
        - FIREBASE_STORAGE_BUCKET=${FIREBASE_STORAGE_BUCKET}
        - FIREBASE_MESSAGING_SENDER_ID=${FIREBASE_MESSAGING_SENDER_ID}
        - FIREBASE_APP_ID=${FIREBASE_APP_ID}
        - KOMMO_API_TOKEN=${KOMMO_API_TOKEN}
        - KOMMO_DOMAIN=${KOMMO_DOMAIN}
        - HUBSPOT_CLIENT_ID=${HUBSPOT_CLIENT_ID}
        - HUBSPOT_CLIENT_SECRET=${HUBSPOT_CLIENT_SECRET}
        - OAUTH_GOOGLE_CLIENT_ID=${OAUTH_GOOGLE_CLIENT_ID}
        - OAUTH_GOOGLE_PROJECT_ID=${OAUTH_GOOGLE_PROJECT_ID}
        - OAUTH_GOOGLE_AUTH_URI=${OAUTH_GOOGLE_AUTH_URI}
        - OAUTH_GOOGLE_TOKEN_URI=${OAUTH_GOOGLE_TOKEN_URI}
        - OAUTH_GOOGLE_AUTH_PROVIDER_X509_CERT_URL=${OAUTH_GOOGLE_AUTH_PROVIDER_X509_CERT_URL}
        - OAUTH_GOOGLE_CLIENT_SECRET=${OAUTH_GOOGLE_CLIENT_SECRET}
        - NODE_ENV=${NODE_ENV}
        - BACKEND_PORT=${BACKEND_PORT}
        - FRONTEND_PORT=${FRONTEND_PORT}
        - BASE_URL=${BASE_URL}
        - JWT_SECRET=${JWT_SECRET}
        - ENCRYPTION_KEY=${ENCRYPTION_KEY}
        - ENCRYPTION_IV=${ENCRYPTION_IV}
        - GLOBAL_RATE_LIMIT_PER_MINUTE=${GLOBAL_RATE_LIMIT_PER_MINUTE}
        - STRIPE_BETEPFA_API_TOKEN=${STRIPE_BETEPFA_API_TOKEN}
    env_file:
      - .env
    ports:
      - "80:80"
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
